---

layout: archive

title: "Publications"

permalink: /publications/

author_profile: true

---



{% if site.author.googlescholar %}

<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>

{% endif %}



{% include base_path %}
  

  <style>
    #paper-list {
      padding-left: 0;
      list-style-type: none; /* 리스트 마커 제거 */
    }
    .paper-link { /* 하이퍼링크에 적용될 스타일 */
      color: #0056b3; /* 더 진한 파란색으로 변경 */
      text-decoration: none; /* 기본 밑줄 제거 */
    }
    .paper-link:hover {
      text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
    }
    .paper-entry {
      margin-bottom: 1.5em;
      line-height: 1.4;
      display: block;
    }
    .paper-number {
      font-weight: bold;
      margin-right: 0.5em;
      display: inline;
    }
  </style>


<ul id="paper-list" style="list-style-type: none;">

  {% assign total = site.data.publications | size %}
  
  {% for paper in site.data.publications %}
  
  {% assign number = total | minus: forloop.index0 %}
  
  <li class="paper-entry" data-selected="{{ paper.selected | downcase }}" style="list-style-type: none;">
  
  <span class="paper-number" style="font-weight: bold;">{{ number }}. </span>
  
  <strong>{{ paper.title }}</strong><br/>
  
  {% if paper.authors %}
      {% comment %} Split authors by ", " to handle cases like "Author1, Author2, Author3" {% endcomment %}
      {% assign authors_array = paper.authors | split: ", " %}
      {% for author in authors_array %}
        {% assign trimmed_author = author | strip %}
        {% comment %} Check for "Sangyeon Yoon" or "Sangyeon Yoon*" {% endcomment %}
        {% if trimmed_author == "Sangyeon Yoon" or trimmed_author == "Sangyeon Yoon*" %}
          <strong>{{ trimmed_author }}</strong>{% if forloop.last == false %},{% endif %}
        {% else %}
          {{ trimmed_author }}{% if forloop.last == false %},{% endif %}
        {% endif %}
        {% if forloop.last == false %}{% endif %}
      {% endfor %}<br/>
  {% endif %}
  
  
  
  {% assign components = "" %}
  {% if paper.venue != "" %} {% assign components = components | append: paper.venue | append: ", " %} {% endif %}
  {% if paper.status != "" %} {% assign components = components | append: "<em>" | append: paper.status | append: "</em>" | append: ", " %} {% endif %}
  {% if paper.year != "" %} {% assign components = components | append: paper.year %} {% endif %}
  {{ components }}
  
  
  {% if paper.pdf_url %}
  
  <a href="{{ paper.pdf_url }}" target="_blank">[pdf]</a>
  
  {% endif %}
  
  {% if paper.website_url %}
  
  <a href="{{ paper.website_url }}" target="_blank">[website]</a>
  
  {% endif %}
  
  
  {% if paper.desc %}
  
  <div style="margin-top: 0.3em; font-size: 0.9em; color: #555;">{{ paper.desc }}</div>
  
  {% endif %}
  
  </li>
  
  {% endfor %}
  
</ul>
