<p>I am a first-year Master's student in Artificial Intelligence at Yonsei University. I am affiliated with the Artificial Intelligence and Information Systems Lab under the supervision of Professor Albert No.</p>

<p>My research interests are LLM safety, machine unlearning, natural language processing and LLM reasoning. My interest is in model-data interactions and trustworthy LLMs.</p>

<h3>Recent News</h3>

<ul>
  <li>April 2026: One position paper was accepted to ICML 2026.</li>
  <li>April 2026: One paper was accepted to ACL 2026 Findings.</li>
  <li>Jan 2026: Two papers were accepted to ICLR 2026.</li>
  <li>Sep 2025: One paper was accepted to NeurIPS 2025.</li>
  <li>Sep 2025: Research Intern at EXAONE Lab, LG AI Research.</li>
  <li>Aug 2025: Two papers were accepted to EMNLP 2025 Main.</li>
</ul>

<h3>Links</h3>

<ul>
  <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
  <li><a href="{{ site.author.googlescholar }}">Google Scholar</a></li>
  <li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">LinkedIn</a></li>
</ul>
